// ---colors---
$bckgroundColor: #fff6f6;
$greenColor: #042f1a;
$greenBgColor: #042f1a;
$lightgreen: #d4ed6d;
$pinkColor: #ff73b5;
$pinkBgColor: #ff73b5;
$whiteColor: #ffffff;
$blackColor: #000000;
$lightBlackColor: #171717;
$bluishGray: #abb8c3;
