.homePage {
  background-color: $whiteColor;
  width: 100%;
}

.homePage header {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: $greenBgColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
  position: relative;
  z-index: 5;

  .mainDiv {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  h1 {
    font-size: clamp(8vh, 20vw, 30vh);
    color: $whiteColor;
    text-transform: uppercase;
    font-family: $BebasFamily;
    letter-spacing: 10px;
    &:nth-child(3) {
      margin-top: -150px;
    }
  }
  img {
    width: min(400px, 100%);
    margin-top: -120px;
  }

  // ---logoSlider--
  .logoSlider {
    width: 100%;
    padding: 2rem 0;
    .swiper-wrapper {
      transition-timing-function: linear;
      margin: 3rem 0;
    }
    .logo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: auto;
        height: 80px;
        margin: auto;
      }
    }
  }
}

// --secondSection--
.homePage .secondSection {
  width: 100%;
  padding: 0 5%;
  background-color: $pinkColor;
  position: relative;
  z-index: 5;
  ::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 85%;
    width: 100%;
    height: 200px;
    z-index: 10;
    background-image: url("./images/pinkwave.png");
    background-repeat: no-repeat;
    background-size: 100% 140%;
  }
}

// --thiredSection--
.homePage .thiredSection {
  width: 100%;
  padding: 0 5%;
  background-color: $whiteColor;
  position: sticky;
  bottom: 0px;
  z-index: 4;
  .twoColumnLayout {
    flex-direction: row-reverse;
  }
}

// --forthSection--
.homePage .forthSection {
  width: 100%;
  padding: 0 5%;
  background-color: $lightgreen;
  position: sticky;
  bottom: 0px;
  z-index: 3;
}

// --fifthSection--
.homePage .fifthSection {
  width: 100%;
  padding: 0 5%;
  background-color: $greenBgColor;
  position: sticky;
  bottom: 0;
  z-index: 2;
  .twoColumnLayout {
    flex-direction: row-reverse;
    h2,
    p {
      color: $whiteColor;
    }
  }
}

// --benefitsSection--
.homePage .benefitsSection {
  padding: 6rem;
  position: sticky;
  top: 0;
  .heading {
    text-align: center;
    font-family: $BebasFamily;
    font-size: $extraLargeFont;
    line-height: $extraLargeFont;
    span {
      display: block;
      font-family: $BebasFamily;
    }
  }

  // --
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3vw;
    margin: 6rem 0;
    @media (max-width: $large) {
      grid-template-columns: repeat(2, 1fr);
      gap: 5vw;
    }
    @media (max-width: $small) {
      grid-template-columns: repeat(1, 1fr);
    }
    .card {
      text-align: center;
      width: min(300px, 100%);
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: auto;
      img {
        width: min(250px, 100%);
        @media (max-width: $small) {
          width: min(200px, 100%);
        }
      }
      .info {
        padding-top: 13%;
        h3 {
          font-size: calc($mediumFont + 10px);
          font-family: $RajdhaniFamily;
          font-weight: 500;
        }
        p {
          font-size: $normalFont;
          font-family: $RajdhaniFamily;
          font-weight: 600;
        }
      }
    }
  }
}

// ---seventhSection---
.homePage .seventhSection {
  width: 100%;
  background-color: $greenBgColor;
  position: relative;
  top: 3;
  padding: 2rem 0;
  .content {
    // --
    .bigTextImg {
      display: flex;
      justify-content: center;
      svg {
        width: min(1400px, 100%);
      }
    }
    // --
    .cardsContent {
    }
  }
}
